#output Div{
  display: none;
}

hr {
    top: 20px;
    border-top: 4px solid black ;
    margin-bottom: 40px;
    }

.card-body{
  background-color: none;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #e0ca92;
}